<?xml version="1.0" encoding="utf-8" ?>
<CmdTool xsi:noNamespaceSchemaLocation="http://csharptest.net/src/Tools/CmdTool/CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <match filespec="*.xml">
    <applies-to folder="src\Freshbooks.Library\Model"/>
    <generator debug="false">
      <execute exe="$(ConfigDir)depend\NClassify.Generator\tools\NClassify.Generator.exe" />
      <arg value="generate"/>
      <arg value="-file=$(InputPath)"/>
      <arg value="-namespace=$(Namespace)"/>
      <arg value="-extension=.Generated.cs"/>
      <output extension=".Generated.cs"/>
    </generator>
  </match>
  <match filespec="*.resx">
    <generator debug="false">
      <execute exe="$(ConfigDir)depend\CSharpTest.Net.Generators\tools\CSharpTest.Net.Generators.exe" />
      <arg value="ResX"/>
      <arg value="-input=$(InputPath)"/>
      <arg value="-namespace=$(Namespace)"/>
      <arg value="-class=$(ClassName)"/>
      <arg value="-test=true"/>
      <arg value="-public=false"/>
      <arg value="-partial=true"/>
      <arg value="-sealed=true"/>
      <arg value="-rxns=$(DefaultNamespace)"/>
      <arg value="-base=System.ApplicationException"/>

      <std-output extension=".Generated.cs"/>
    </generator>
  </match>
</CmdTool>