<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Freshbooks.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Freshbooks.Test.Properties.Settings>
            <setting name="FreshbooksAccountName" serializeAs="String">
                <value>{Account To Access}</value>
            </setting>
            <setting name="HttpCallbackPort" serializeAs="String">
                <value>11001</value>
            </setting>
            <setting name="OAuthSecret" serializeAs="String">
                <value>{OAuth Secret Assigned for Developer Account}</value>
            </setting>
            <setting name="UserToken" serializeAs="String">
                <value>{Administrator Token for Account}</value>
            </setting>
            <setting name="ConsumerKey" serializeAs="String">
                <value>{Developer Account Name}</value>
            </setting>
            <setting name="ShowSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </Freshbooks.Test.Properties.Settings>
    </userSettings>
</configuration>